/*
Theme Name:   Canabis
Theme URI:    https://wp.dreamsengien.io
Description:  Canabis Avance Theme
Author:       Dreams Engine
Author URI:   https://wp.dreamsengien.io
Template:     iggy-type-0
Version:      1.0.0
License:      GNU General Public License v3 or later
License URI:  http://www.gnu.org/licenses/gpl-3.0.html
Tags:         two-columns, custom-background, custom-colors, custom-menu, featured-images, theme-options, threaded-comments, translation-ready
Text Domain:  Canabis
*/


.mvp-nav-top-mid img{
    max-width: 250px;
}

footer img{
    max-width: 200px;
}
